[submodule "BuildingMachineLearningSystemsWithPython"]
	path = BuildingMachineLearningSystemsWithPython
	url = https://github.com/luispedro/BuildingMachineLearningSystemsWithPython.git
	branch = first_edition
